[submodule "packages/pymacs"]
	path = packages/pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet

[submodule "packages/org-mode"]
	path = packages/org-mode
	url = git://orgmode.org/org-mode.git
