[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule "packages/pymacs"]
	path = packages/pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "packages/org"]
	path = packages/org
	url = http://repo.or.cz/r/org-mode.git
[submodule "paclages/feature-mode"]
	   path = packages/feature-mode
	   url = https://github.com/michaelklishin/cucumber.el.git

