[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = http://cx4a.org/repo/auto-complete.git

[submodule "packages/org"]
	path  = packages/org
	url = http://repo.or.cz/r/org-mode.git

[submodule "packages/scala-mode2"]
	path = packages/scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git

[submodule "packages/feature-mode"]
	path  = packages/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git

[submodule "packages/lintnode"]
	path = packages/lintnode
	url = https://github.com/davidmiller/lintnode.git
[submodule "packages/js2-mode"]
	path = packages/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "packages/cedet"]
	path = packages/cedet
	url = http://git.randomsample.de/cedet.git
